/* 全局公共样式 */
@font-face {
    font-family: 'icon';
    src: url('/static/font/iconfont.eot');
    src: url('/static/font/iconfont.ttf') format('truetype'),
        url('/static/font/iconfont.woff2') format('woff2'),
        url('/static/font/iconfont.woff') format('woff'),
        url('/static/font/iconfont.svg') format('svg');
}

@font-face {
    font-family: medium;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('https://www.chinabdc.cn:8092/H5/font/PingFangSC-Medium.ttf') format('truetype'),
        url('/static/font/PingFangSC-Medium.ttf');
}

html,
body {
    font-family: medium;
}

.icon {
    color: @base-color;
    font-family: icon;
}

// 图标、placeholder基本样式
@base-color: #cccccc;
// 主颜色
@main-color: #409eff;
// 副颜色
@vice-color: #e73939;
// 文字基本颜色
@text-color: #333333;